@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Barlow+Condensed:wght@300;400;500;600;700&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@300;400;500;600;700&family=Kanit:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Play:wght@400;700&family=Poppins:wght@300;400;500;600;700&family=Qwitcher+Grypen:wght@400;700&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --fs-200: clamp(4rem, 10vw + 1rem, 12rem);
  --fs-300: clamp(3rem, 8vw + 1rem, 10rem);
  --fs-400: clamp(2.5rem, 8vw + 1rem, 6rem);
  --fs-600: clamp(2rem, 6vw + 1rem, 3rem);
  --fs-800: clamp(1rem, 6vw + 0.5rem, 3rem);
  --fs-900: clamp(1rem, 4vw + 0.5rem, 1.75rem);
  --fs-1000: clamp(0.75rem, 1vw + 0.25rem, 1rem);
  --fs-1200: clamp(0.75rem, 1vw + 0.25rem, 1rem);
  --font: "Poppins", sans-serif;
  --alt-font: "Dancing Script", Montserrat, sans-serif;
  --cursive: "Qwitcher Grypen", Montserrat, sans-serif;
  --font-color: rgb(39, 39, 39);
  --secondary-font-color: rgb(82, 82, 82);

  /* //Liked */
  --primary: #005045;
  --accent: #d39937;

  /* --primary: rgb(91, 150, 156, 0.8);
  --secondary: #dc8782;
  --accent: #d39937; */

  /* --primary: #15594d;
  --secondary: #0d4137;
  --accent: #e55d45; */

  /* --primary: #3c5a9d;
  --secondary: #4fb3aa;
  --accent: #fea632; */

  /* --primary: #072d75;
  --secondary: #70b9d5;
  --accent: #a3c000; */

  /* --primary: #005045;
  --secondary: #020c22;
  --accent: #e9bbad;
  --secondary-accent: #bd3401; */

  /* --primary: #042431;
  --secondary: #1e6d46;
  --accent: #f2b32c; */

  /* --primary: #568882;
  --secondary: #6e9267;
  --accent: #cfab3f; */
  /* 
  --primary: #0d796d;
  --secondary: #0d8174;
  --accent: #e9b502; */

  /* --accent: #82ca9c; */
  /* one color with white minimal */

  /* --primary: #efad9f;
  --secondary: #ebdbd2;
  --accent: #784028; */
  /* 
  --primary: #306974;
  --secondary: #70b0a0;
  --accent: #e2e3de; */

  /* --primary: #275332;
  --secondary: #496a3f;
  --accent: #28514d; */

  /* --primary: #f0a2b8;
  --secondary: #dd89ba;
  --accent: #dd89ba; */
  /* #827EB0 */

  --background: #121212;
  --gradient: linear-gradient(
    to bottom,
    #5b969c,
    #61a1a7,
    #67abb2,
    #6eb6be,
    #74c1c9
  );
  --section-padding: 100px 0;
  --overlay-5: rgb(68, 68, 68);
  --overlay-7: rgb(45, 45, 45);
  --overlay-9: rgba(255, 255, 255, 0.09);
  --overlay-12: rgba(255, 255, 255, 0.12);
  --overlay-16: rgba(255, 255, 255, 0.16);
  --bs-hover: rgba(0, 0, 0, 0.25) 0px 24px 48px,
    rgba(0, 0, 0, 0.22) 0px 20px 20px;
  --bs: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

main {
  position: relative;
}

body {
  font-family: var(--font), sans-serif;
  font-size: (--fs-600);
  font-weight: 300;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
}

a:focus {
  outline: none;
}

.container {
  margin: auto;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.page-container {
  padding: 2rem;
  min-height: 100vh;
}

.btn {
  padding: 1em 3em;
  font-size: var(--fs-1000);
  box-shadow: var(--bs);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  border: none;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold;
  transition: all 0.2s ease-in;
  border-radius: 5px;
  /* background-image: linear-gradient(
    to bottom,
    #e99e9a,
    #e69894,
    #e3928e,
    #df8d88,
    #dc8782
  ); */
  background-color: var(--accent);
}

.btn:hover {
  opacity: 1.1;
  box-shadow: var(--bs-hover);
}

button:focus {
  outline: none;
}

.btn-hover {
  transition: all 0.2s ease-in;
}

.btn-hover:hover {
  background-color: var(--primary);
  color: white;
}

img {
  height: 100%;
  width: auto;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

li {
  list-style-type: none;
  position: relative;
}

h1 {
  font-size: var(--fs-400);
  line-height: 1.1;
}

h2 {
  font-size: var(--fs-600);
  line-height: 1.25;
  font-weight: 400;
}

h3 {
  font-size: var(--fs-800);
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
}

h4 {
  font-size: var(--fs-900);
  font-weight: 400;
}

h5 {
  font-size: var(--fs-1000);
  font-weight: 300;
}

p {
  font-size: var(--fs-1000);
  line-height: 1.75;
  font-weight: 400;
}
